PINECONE_API_KEY=
PINECONE_INDEX_NAME=

# CORS Settings for Local Development
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
ALLOWED_METHODS=*
ALLOWED_HEADERS=*
ALLOWED_CREDENTIALS=True
GEMINI_API_KEY=